<a href="https://colab.research.google.com/github/TOGAR02/tugas-pemerograman-dasar/blob/main/latihan_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
togar_df = pd.read_csv ("/content/mahasiswa (1).csv")

In [3]:
togar_df.head()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

In [4]:
togar_df.tail()

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

In [5]:
togar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

In [10]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [16]:
print("jumblah duplikasi: ",togar_df.duplicated().sum())

jumblah duplikasi:  8

In [21]:
togar_df.drop_duplicates(inplace=True)

In [22]:
print("jumblah duplikasi: ",togar_df.duplicated().sum())

jumblah duplikasi:  0

In [23]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [24]:
togar_df['jurusan']=togar_df['jurusan'].fillna ("Pembangkit Energi")

In [25]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [26]:
togar_df['umur']= togar_df['umur'].fillna (23)

In [27]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [28]:
togar_df['nilai_akhir']= pd.to_numeric(togar_df['nilai_akhir'],errors='coerce')

In [29]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       5
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [30]:
togar_df['nilai_akhir'] = pd.to_numeric(togar_df['nilai_akhir'],errors='coerce')

In [33]:
togar_df.isna().sum()
togar_df['nilai_akhir'].mean()

np.float64(88.15384615384616)

In [34]:
togar_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

In [35]:
togar_df['nilai_akhir'] =togar_df['nilai_akhir'].fillna (88)

In [36]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [40]:
togar_df['kehadiran_pct']= pd.to_numeric(togar_df['kehadiran_pct'],errors='coerce')
togar_df['kehadiran_pct']

0     82.0
1     99.0
2     78.0
3     99.0
4     65.0
      ...
65    98.0
66    82.0
67    74.0
68    86.0
69    68.0
Name: kehadiran_pct, Length: 70, dtype: float64

In [39]:
togar_df['kehadiran_pct']= togar_df['kehadiran_pct'].fillna (82)

In [41]:
togar_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

In [ ]:
togar_df